:root{
    --colorPrimario: #69d6f4;
    --colorSecundario: #ffeaa7;
    --colorTerciario: #ccd1d92b;
    --blanco: white;
    --colorContraste: black;
}

body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: helvetica, arial;
}

.limpiarfix{
    height: 110px;
}

nav{
    position: fixed;
    left: 0;
    right: 0;
    background: var(--blanco);
}

/* ----------------------- INICIO MENU MD LG ------------------------------ */

.menu-md-lg{
    list-style: none;
    display: block;
    overflow: hidden;
    color: var(--colorPrimario);
    background: var(--blanco);
    margin: 0;
    padding-inline-start: 40px;
    box-shadow: 0px -33px 12px 37px var(--colorPrimario);
}

.menu-md-lg h1{
    float: left;
    display: block;
    margin-right: 120px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-size: 2.5em;
    line-height: inherit;
    font-weight: 200;
}

.menu-md-lg li{
    display: block;
    margin: 35px 35px 0px 35px;
    font-size: 18px;
    float: left;
    cursor: pointer;
    transition: all 800ms;
    font-size: 16px;
}

.menu-md-lg li span{
    width: 0%;
    padding: 1px;
    display: flex;
    background: var(--blanco);
    transition: all 400ms;
}

.menu-md-lg li:hover span{
    width: 100%;
    background: var(--colorPrimario);
}

.mantenerSpan-md-lg{
    width: 100% !important;
    background: var(--colorPrimario) !important;
}

/* ----------------------- FIN MENU MD LG --------------------------------- */

/* ----------------------- INICIO MENU XS SM ------------------------------ */



.divMenu-xs-sm{
    display: grid !important;
}

.menu-xs-sm{
    list-style: none;
    display: block;
    overflow: hidden;
    color: var(--colorPrimario);
    background: var(--blanco);
    margin: 0;
    padding-inline-start: 40px;
    box-shadow: -2px 15px 12px -12px var(--colorPrimario);
    transition: all 800ms;
}

.tituloMenu-xs-sm{
    float: left;
    display: block;
    margin-right: 120px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0.8em;
    font-size: 2.5em;
    line-height: inherit;
    font-weight: 200;
    margin: 0;
    padding: 21px 32px;
    background: var(--blanco);
    color: var(--colorPrimario);
    z-index: 2;
}

.menu-xs-sm li{
    display: block;
    margin: 5px 35px 5px 35px;
    padding: 12px 0px 12px 0px;
    font-size: 18px;
    float: left;
    cursor: pointer;
    transition: all 800ms;
    font-size: 16px;
}

.menu-xs-sm li span{
    width: 0%;
    padding: 1px;
    display: flex;
    background: var(--blanco);
    transition: all 400ms;
}

.menu-xs-sm li:hover span{
    width: 100%;
    background: var(--colorPrimario);
}

.mantenerSpan-xs-sm{
    width: 100% !important;
    background: var(--colorPrimario) !important;
}

.btnMenu-xs-sm{
    position: absolute;
    top: 31px;
    right: 35px;
    width: 35px;
    height: 35px;
    padding-top: 3.5px;
    border-radius: 9px;
    background: var(--colorTerciario);
    border: solid 1px var(--colorContraste);
    cursor: pointer;
    z-index: 2;
}

.btnMenu-xs-sm span{
    display: block;
    width: 16px;
    height: 2px;
    margin: 0px auto;
    margin-top: 5px;
    background: var(--colorContraste);
}

.hiddenMenu-xs-sm{
    margin-top: -240px;
}

/* ----------------------- FIN MENU XS SM --------------------------------- */

@media screen and (min-width: 974px) {
    .menu-md-lg {
        display: block;
    }
    .divMenu-xs-sm {
        display: none !important;
    }
}

@media screen and (max-width: 973px) {
    .menu-md-lg {
        display: none;
    }
}

.divisionSeccion{
    margin: 0px 0px 40px 0px;
}