.divPortafo{
    padding: 26px 0px 53px 1px;
    z-index: -1;
    background: var(--colorTerciario);
}

.divPortafo h2{
    margin-bottom: 46px;
    text-align: center;
}

.conteProduct{
    width: 265px;
    height: 510px;
    margin: 0px auto;
}

.divImage{
    height: 200px;
    border-radius: 12px 12px 1px 1px;
    padding: 0px;
    text-align: center;
    border: 2px solid var(--colorContraste);
}

.divImage img{
    position: relative;
    margin: 0px;
    height: 100%;
    padding: 4px 0px;
    z-index: -40;
}

.divSubInfo{
    height: 196px;
    width: 265px;
    position: relative;
    top: -199px;
}

.subInfoImage{
    position: absolute;
    top: 1px;
    height: 196px;
    width: 265px;
    background: rgba(51, 51, 51, 0.5);
    z-index: -1;
    border-radius: 12px 12px 1px 1px;
    left: 0.1px;
    transition: 800ms;
    margin-top: 198px;
}

.subInfoImage h3{
    color: var(--colorSecundario);
    margin: 36px 0px 35px 0px;
    text-align: center;
}

.subInfoImage a{
    color: var(--colorContraste);
    background: var(--colorPrimario);
    padding: 6px 12px 6px 12px;
    border-radius: 17px;
    margin: 0px 0px 0px 72.5px;
}

.hoverSubInfoImage{
    margin-top: 0px !important;
}

.infoProduct{
    background: var(--colorPrimario);
    padding: 18px 21px 3px 21px;
    border-radius: 0px 0px 10px 10px;
    z-index: -1;
    position: relative;
    top: -196px;
}

.infoProduct h3{
    text-align: center;
    font-size: 24px;
}

.infoProduct ul{
    margin: 20px 0px 13px 27px;
}

.infoProduct p{
    text-align: justify;
}